<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.alibaba.weex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:name=".WXApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:overrideLibrary="com.taobao.android.dexposed">
        <uses-library android:name="android.test.runner"/>

        <activity
                android:name=".SplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".IndexActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".WXPageActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.taobao.android.intent.action.WEEX"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.taobao.android.intent.category.WEEX"/>
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:scheme="wxpage" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="zxing.appspot.com" android:path="/scan" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.google.zxing.client.android.history.HistoryActivity"
                android:label="@string/history_title"
                android:stateNotNeeded="true"/>
        <activity
                android:name=".WXDebugActivity"
                android:label="@string/title_activity_dynamic"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="weex.intent.action.dynamic"/>

                <category android:name="weex.intent.category.dynamic"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"
                      android:host="weex-remote-debugger"
                      android:path="/dynamic/replace/framework"/>
            </intent-filter>
            <intent-filter>
                <action android:name="weex.intent.action.dynamic"/>

                <category android:name="weex.intent.category.dynamic"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"
                      android:host="weex-remote-debugger"
                      android:path="/dynamic/replace/bundle"/>
            </intent-filter>
        </activity>
        <activity android:name="com.alibaba.weex.BenchmarkActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>