# do not lint test case source files
html5/test/case/*/*.source.js
html5/test/case/*/*.output.js
html5/test/render/vue/vender/*
html5/test/render/vue/data/*
*.css
doc/themes/weex/source/*/*.js
doc/themes/weex/source/*/*/*.js
