# Created by IDE
.idea/
*.iml
.DS_Store
.vscode
*.sw*

# Created by Builder
examples/build
web-entry
test/build
weex_tmp
coverage
dist
*.js.gz

# Node
logs
*.log
npm-debug.log*
node_modules
.npm

# Runtime data
pids
*.pid
*.seed

# e2e test
html5/test/e2e/reports
html5/test/e2e/screenshots
html5/test/e2e/logs

# render test
html5/test/render/vue/data/build
examples/vue/test/

# Created by Weex Web Packer
html5/browser/extend/packer.js
html5/render/browser/extend/packer.js

# Created by weex-vue-bundle-util
weex-vue-plugins.js

android/playground/app/gradlew
android/playground/app/gradlew.bat
android/playground/app/gradle/wrapper/gradle-wrapper.jar
android/playground/app/gradle/wrapper/gradle-wrapper.properties
android/sdk/.externalNativeBuild/ndkBuild/

# release
apache_release_temp
