os:
  - osx
  - linux
language: node_js
node_js: 7.6
rvm: 2.0.0
env:
  - TEST_SUITE=ios
  - TEST_SUITE=danger
  - TEST_SUITE=jsfm
  - TEST_SUITE=android
matrix:
    fast_finish: true
    exclude:
      - os: linux
        env: TEST_SUITE=ios
      - os: osx
        env: TEST_SUITE=danger
      - os: osx
        env: TEST_SUITE=jsfm
      - os: osx
        env: TEST_SUITE=android
      - os: osx
        env: TEST_SUITE=ios
      - os: linux
        env: TEST_SUITE=android
    include:
      - os: osx
        env: TEST_SUITE=ios
        osx_image: xcode8.1
        language: objective-c
        before_script:
          - brew update
        script:
          - xcodebuild -project ios/sdk/WeexSDK.xcodeproj test -scheme WeexSDKTests CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination 'platform=iOS Simulator,name=iPhone 6'
      - os: linux
        env: TEST_SUITE=android
        jdk: oraclejdk8
        language: android
        android:
          components:
            - platform-tools
            - tools
            - build-tools-23.0.2
            - build-tools-23.0.3
            - build-tools-24.0.3
            - android-24
            - android-23
            - android-22
            - extra-google-m2repository
            - extra-android-m2repository
            - sys-img-armeabi-v7a-android-22
        before_script:
          - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
          - nvm install 7.0
          - npm install
        script:
          - cd android
          - ./run-ci.sh 
          - cd $TRAVIS_BUILD_DIR
cache:
  directories:
  - node_modules
  - $HOME/.m2
  - $HOME/.gradle
script:
  - source test/ci-funcs.sh
  - runJSTest $TEST_SUITE
notifications:
  webhooks:
    on_pull_requests: false
    urls:
      - https://oapi.dingtalk.com/robot/send?access_token=5a6be5eb6ad180fa4d04bdda0b24857ee49c3dd985361efdf0964aa9134ee623
    on_success: change 
    on_failure: always
  email:
    recipients:
      - dev@weex.apache.org
    on_success: change
    on_failure: always