os:
  - osx
  - linux
language: nodejs
rvm: 2.0.0
env:
  - TEST_SUITE=ios
  - TEST_SUITE=danger
  - TEST_SUITE=jsfm
  - TEST_SUITE=android
matrix:
    fast_finish: true
    exclude:
      - os: linux
        env: TEST_SUITE=ios
      - os: osx
        env: TEST_SUITE=danger
      - os: osx
        env: TEST_SUITE=jsfm
      - os: osx
        env: TEST_SUITE=android
      - os: osx
        env: TEST_SUITE=ios
      - os: linux
        env: TEST_SUITE=android
    include:
      - os: osx
        env: TEST_SUITE=ios
        osx_image: xcode8.2
        language: objective-c
      - os: linux
        env: TEST_SUITE=android
        jdk: oraclejdk8
        language: android
        android:
          components:
            - platform-tools
            - tools
            - build-tools-23.0.2
            - android-23
            - android-19
            - extra-google-m2repository
            - extra-android-m2repository
            - sys-img-armeabi-v7a-android-21
cache:
  directories:
  - node_modules
  - $HOME/.m2
  - $HOME/.gradle
before_install:
  - source test/ci-funcs.sh && setup_cpt $TEST_SUITE
script:
  - test_cpt $TEST_SUITE
  
