.scroll-wrap {
  display: block;
  overflow: hidden;
}

.scroll-element.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.scroll-element.vertical {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
