<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.taobao.weex">
    <uses-sdk
            android:minSdkVersion="14"
            tools:overrideLibrary="com.taobao.android.dexposed"
            android:targetSdkVersion="21"/>
    <application>
    </application>
</manifest>
