<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.taobao.prettyfish_base">

    <uses-sdk
            tools:overrideLibrary="com.taobao.android.dexposed,com.taobao.prettyfish_base"
            android:minSdkVersion="15"
            android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application android:allowBackup="false">
        <activity
                android:name="com.taobao.prettyfish.pref.localdata.DataFileListActivity"
                android:exported="false"
                android:icon="@drawable/prettyfish_icon_perf"
                android:label="@string/prettyfish_datalist_title"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        </activity>
        <activity
                android:name="com.taobao.prettyfish.pref.localdata.DataChartActivity"
                android:exported="false"
                android:icon="@drawable/prettyfish_icon_perf"
                android:label="@string/prettyfish_datachart_title"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        </activity>
    </application>

</manifest>