<footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="//gw.alicdn.com/tps/TB1Ef93PXXXXXaXXpXXXXXXXXXX-252-126.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pick-lang">
        <li>
          <a href="<%= pick_lang('en') %>" data-lang="en">English</a>
        </li>
        <li>
          <a href="<%= pick_lang('cn') %>" data-lang="cn">中文</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span><a href="">Apache License 2.0</a></p>
  </div>
  <div class="row clearfix">
    <div class="cell"><span>Copyright(c) 2016 </span><a href="https://www.alibaba.com">Alibaba</a></div>
    <div class="cell"><span>Designed by </span><a href="">阿里云UED AX</a></div>
  </div>
</footer>