<div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="<%= id_name %>" name="q" results="0" placeholder="search..." class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>