<div id="slider">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background:url('//gw.alicdn.com/tps/TB1rY5sPXXXXXbfapXXXXXXXXXX-800-800.png') 50% 50% / contain no-repeat">
        <div class="slide-content">
          <h1 class="page-title"><%= _p('index.page_title') %></h1>
          <div class="btn-group">
            <a href="<%= url_for_lang('guide/index.html') %>" class="button get-started"><%= _p('index.get_started') %></a>
            <a href="https://github.com/alibaba/weex/" class="button get-started" target="_blank"><%= _p('menu.github') %></a>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="swiper-button-next iconfont icon-arrow-small"></div>
    <div class="swiper-button-prev iconfont icon-arrow-small"></div>-->
  </div>
</div>