/*/////////////////////////////////////////////////////////////*/

/* 默认背景色为 #FFFFFF */
.wrapper[data-v-67763bae] {
    width: 375px;
    /*background-color: #586C5D;*/
    overflow: hidden;
}
.module-warning[data-v-67763bae]{
    text-align: center;
    font-size: 25px;
    color: red;
    font-weight: bold;
}
.video[data-v-67763bae]{
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
}
.first-frame[data-v-67763bae]{
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
}
.final-image[data-v-67763bae]{
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
}
.deco-img[data-v-67763bae]{
    width: 375px;
    position: absolute;
    left: 0;
    bottom: 0;
}