/*/////////////////////////////////////////////////////////////*/

.item[data-v-553d6ea0] {
    width: 178px;
    height: 118px;
    background-color: #ffffff;
    margin-bottom: 1px;
}
.bgImage[data-v-553d6ea0] {
    position: absolute;
    width: 178px;
    height: 118px;
}
.img[data-v-553d6ea0] {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 14px;
    left: 3px;
}
.right-panel[data-v-553d6ea0] {
    position: absolute;
    left: 98px;
    width: 75px;
    lines: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}
.title[data-v-553d6ea0] {
    font-weight: bold;
    font-size: 12px;
}
.title-goods[data-v-553d6ea0] {
    top: 22px;
}
.title-shop[data-v-553d6ea0] {
    top: 40px;
}
.subtitle[data-v-553d6ea0] {
    font-weight: lighter;
    font-size: 12px;
    color: #4A4A4A;
}
.subtitle-goods[data-v-553d6ea0] {
    top: 43px;
}
.subtitle-shop[data-v-553d6ea0] {
    top: 61px;
}
.price[data-v-553d6ea0] {
    font-weight: lighter;
    font-size: 14px;
    top: 76px;
}