/*/////////////////////////////////////////////////////////////*/

/* 默认背景色为 #FFFFFF */
.wrapper[data-v-6acf469e] {
    background-color: transparent;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 9px;
}
.items-wrapper[data-v-6acf469e] {
    width: 357.5px;
}
.row[data-v-6acf469e] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}