.row[data-v-0dad7305] {
  flex-direction: row;
}
.result[data-v-0dad7305] {
  text-align: right;
  background-color: #666;
  font-size: 40px;
  color: white;
}
.btn[data-v-0dad7305] {
  flex: 1;
  text-align: center;
  background-color: #eee;
  font-size: 36px;
}
.btn[data-v-0dad7305], .result[data-v-0dad7305] {
  height: 100px;
  padding: 30px;
  margin: 5px;
}
.btn-operator[data-v-0dad7305] {
  background-color: #669;
  font-size: 40px;
  color: white;
}
