/*/////////////////////////////////////////////////////////////*/

/* 默认背景色为 #FFFFFF */
.wrapper[data-v-2c9fb3eb] {
    background-color: transparent;
}
.cell-wrap[data-v-2c9fb3eb]{
}
.like-row[data-v-2c9fb3eb]{
    width: 375px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 9px;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
        }
.like-item[data-v-2c9fb3eb]{
    box-sizing: border-box;
    width: 174px;
    height: 250px;
    /*margin-bottom: 18;*/
    padding-left: 7px;
    padding-right: 7px;
    /*padding-top: 348px;*/
    background-color: #ffffff;
}
.item-img[data-v-2c9fb3eb]{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    margin-left: -7px;
    width: 174px;
    height: 174px;
}
.title-ctn[data-v-2c9fb3eb]{
    margin-top: 12px;
    /* 348 - 14 * 2 */
    width: 162px;
    /*background-color: #eee;*/
}
.badge[data-v-2c9fb3eb]{
    position: absolute;
    top: 2px;
    left: 0px;
    width: 26px;
    height: 13px;
    margin-right: 4px;
}
.title[data-v-2c9fb3eb]{
    width: 162px;
    font-size: 12px;
    line-height: 15px;
    /*padding-top: 3;*/
    color: #333333;
    /*background-color: #ccc;*/

    overflow: hidden;
    text-overflow: ellipsis;
    lines: 2;
}
.sub-title[data-v-2c9fb3eb]{
    position: absolute;
    /* 348 - 40(own-height)*/
    bottom: 11px;
    right: 6px;
    /*width: 312;*/

    /* totally hack, do not change */
    font-size: 10px;
    line-height: 9px;
    height: 14px;
    padding-top: 1.5px;

    padding-left: 3px;
    padding-right: 3px;
    text-align: center;

    color: #F70E50;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    lines: 1;
}
.sub-title-bg[data-v-2c9fb3eb]{
    position: absolute;
    bottom: 11px;
    right: 6px;

    /* totally hack, do not change */
    font-size: 10px;
    line-height: 9px;
    height: 14px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;

    text-align: center;
    border-radius: 3px;
    border-width: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    lines: 1;

    border-color: transparent;
    color: transparent;
    opacity: 0.15;
}
.price-ctn[data-v-2c9fb3eb]{
    position: absolute;
    bottom: 11px;
    left: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /*background-color: #ccc;*/
}
.price-title[data-v-2c9fb3eb]{
    font-size: 12px;
    /*margin-top: 4px;*/
}
.price-unit[data-v-2c9fb3eb]{
    /*margin-top: 5px;*/
    font-size: 12px;
    /*line-height: 26px;*/
    color: #E71A17;
    /*background-color: #ccc;*/
}
.price-num[data-v-2c9fb3eb]{
    margin-left: -1px;
    color: #E71A17;
    font-size: 15px;
    /*line-height: 36px;*/
    font-weight: bold;
    /*background-color: #ccc;*/
}