/*/////////////////////////////////////////////////////////////*/

.wrapper[data-v-16194ed9] {
    color: #353535;
}
.point[data-v-16194ed9] {
  position: absolute;
}
.banner[data-v-16194ed9]{
  width: 375px;
}