<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.weappplus_sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        >
        <!--         <activity
                    android:name="com.MainActivity"
                    android:label="@string/app_name" >
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity> -->
        <!--<activity android:name="com.taobao.weex.appfram.navigator.NavigatorActivity"-->
                  <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="com.taobao.android.intent.category.Navigator.push"/>-->
                <!--<data android:scheme="http"/>-->
                <!--<data android:scheme="https"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>
