.gradle
.idea
build
captures
local.properties
target
bin
.classpath
.project
.settings
gen
*.iml
project.properties
assets/main.js
assets/weex-main-jsfm.js
assets/weex-rax-api.js
.externalNativeBuild

/libs/
/src/main/jniLibs

/src/legacyRelease/
proguard-rules-legacy.pro