.weex-root,
.weex-root * {
  color: initial;
  cursor: initial;
  direction: initial;
  font: initial;
  font-family: initial;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  line-height: initial;
  text-align: initial;
  text-indent: initial;
  visibility: initial;
  white-space: initial;
  word-spacing: initial;
  font-family: BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.weex-root,
.weex-root *,
.weex-root *::before,
.weex-root *::after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

.weex-root a,
.weex-root button,
.weex-root [role="button"],
.weex-root input,
.weex-root label,
.weex-root select,
.weex-root textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.weex-root p,
.weex-root ol,
.weex-root ul,
.weex-root dl {
  margin: 0;
  padding: 0;
}

.weex-root li {
  list-style: none;
}

.weex-root figure {
  margin: 0;
}

.weex-root textarea {
  resize: none;
}
