* {
  /*all: initial;*/
  color: initial;
  cursor: initial;
  direction: initial;
  font: initial;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  line-height: initial;
  text-align: initial;
  text-indent: initial;
  visibility: initial;
  white-space: initial;
  word-spacing: initial;

  /*font-family: initial;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

html, body {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

p, ol, ul, dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

figure {
  margin: 0;
}

textarea {
  resize: none;
}
