.weex-doc-header{
    height: 70px;
    width: 100%;
}
.book .book-summary , .book .book-body{
    top: 70px;
}

a[aria-label="Share"] ,  i.fa-facebook , i.fa-twitter{
   display: none  !important;
}

.top-bar, .top-bar ul{
    background-color: white;
    padding-left: 0;
}

dl, ol, ul {
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside;
}

.top-bar {
    /* padding: .5rem; */
}

.top-bar:after {
    clear: both;
}
.top-bar:after, .top-bar:before {
    content: ' ';
    display: table;
}
*, :after, :before {
    box-sizing: inherit;
}

.top-bar a {
    
    font-size: 16px;
    color: #333333;
    text-align: left;
    /* font-family: HelveticaNeue-Light; */
}

.top-bar-title {
    float: left;
    margin-right: 5px;
    margin-left: 10px;    
    margin-top: 29px;    
    background: url("http://alibaba.github.io/weex/img/weex_logo_blue@3x.png") no-repeat;
    height: 33px;
    width: 145px;
    background-position: 0px 0px;
    -webkit-background-size: cover;
    background-size: cover;
    cursor:pointer;
}

 .top-bar-left {
    margin-top: 25px;         
    float: left;
}

.top-bar-right {
    float: right;
}
.top-bar .top-bar-right {
    margin-right: 100px;
    margin-top: 25px;
}
.top-bar .top-bar-right .github {
    width: 32px;
    height: 32px;
}


.menu {
    margin: 0;
    list-style-type: none;
}

.menu>li {
    display: table-cell;    
    vertical-align: middle;    
}


.menu>li>a {
    display: block;
    padding: .7rem 1rem;
    line-height: 1;
    line-height: 1;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}


span.weex-version{
    position: absolute;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

a.weex-translate{
    font-size: 16px;
    position: relative;
    top: -6px;
    left: 20px;
    padding: 2px 4px;    
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #de2810;
}

a.weex-translate.incomplete{
  background-color: #777;                    
}

.wx-v{
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}