@import "variable.scss";

.article-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0 0;
  min-height: 80%;
  min-height: calc(100% - 160px);

  &.post-layout {
    max-width: 900px;
  }
  
  &.page-layout {
    max-width: 1200px;
  }

  .article-entry {
    padding: 0 1.45em;

    > h1 {
      display: none;
    }
  }
  .article-heading{
    margin-top: -85px;
    border-top: 85px solid transparent

  }
  .article-anchor {
    margin-left: 10px;
    display: none
  }

  .article-anchor:before {
      content: "#";
      color:#00BDFF
  }

  @media print {
      .article-anchor {
          display: none!important
      }
  }

  .article-heading:hover .article-anchor {
      display: inline-block;
      color:#00BDFF
  }

  .doc-nav {
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    width: 260px;
    padding: 40px 20px 60px 60px;
    background: $bg-white;
    width: 300px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .doc-nav-version{
    margin: 20px 0;
  }
  .article-nav {
    margin: 30px 0 100px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;

    .article-nav-link {
      display: block;
      padding: .2em 1em;
      border-radius: 5px;
      & + .article-nav-link {
        margin-left: 40px;
      }

      &.enable {
        background: $bg-blue;
        color: #fff;
      }

      &.disable {
        background: #ddd;
        color: #ccc;
      }
    }
  }
}