@import "../variable.scss";

$footer-bg: #F2F2F2;
$footer-text-color: #888;

#footer {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $footer-bg;
  font-size: 12px;
  color: $footer-text-color;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

  a { text-decoration: underline; }
  p { margin: 0; }

  .disclaimer {
    max-width: 1200px;
    line-height: 1.5;
    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .copyright {
    margin-top: 15px;
    a, a:focus { color: #666; }
    a:active { color: #555; }
  }
}

