code {
  // color: #c7254e;
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background: rgba(27, 31, 35, 0.08);
  padding: 0 5px;
  border-radius: 4px;
  font-size: 0.9em;
}

pre {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  padding: 10px 15px;
  overflow-x: auto;
  line-height: 22px;
}

pre code {
  border: none;
  background: #353639;
  display: block;
  padding: 0;
  -moz-tab-size: 2;
  tab-size: 2;
}

.highlight {
  pre {
    background: #353639;
    padding: 10px 15px;
    color: #abb2bf;
    overflow: auto;
    margin: 20px 0;
    border-radius: 5px;
  }

  table {
    margin: 0!important;
    border: 0;
  }

  table td,
  table th,
  tr {
    background: #353639;
    border: 0;
    padding: 0;
  }

  figcaption {
    margin: -5px 0 5px;
    font-size: .9em;
    color: #abb2bf;
  }

  figcaption:after,
  figcaption:before {
    content: "";
    display: table;
  }

  figcaption:after {
    clear: both;
  }

  figcaption a {
    float: right;
  }

  pre {
    padding: 0;
    border: none;
    background: none;
    margin: 0;
  }

  .line {
    height: 22px;
  }
}

pre {
  .comment,
  .title {
    color: #5c6370;
  }

  .attribute,
  .css .class,
  .css .id,
  .css .pseudo,
  .html .doctype,
  .regexp,
  .ruby .constant,
  .tag,
  .variable,
  .xml .doctype,
  .xml .pi,
  .xml .tag .title {
    color: #e06c75;
  }

  .built_in,
  .constant,
  .literal,
  .number,
  .params,
  .preprocessor {
    color: #d19a66;
  }

  .class,
  .css .rules .attribute,
  .header,
  .inheritance,
  .ruby .class .title,
  .ruby .symbol,
  .string,
  .value,
  .xml .cdata {
    color: #98c379;
  }

  .css .hexcolor {
    color: #3e999f;
  }

  .coffeescript .title,
  .function,
  .javascript .title,
  .perl .sub,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword {
    color: #c678dd;
  }

  .javascript .function,
  .keyword {
    color: #c678dd;
  }

  .attr {
    color: #61afef;
  }
}
