@import "../variable.scss";

.search {
  position: relative;
  
  .search-form {
    width: 100%;
    position: relative;
  }

  .search-input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    padding: 6px 35px 6px 10px;
    border: 1px solid $border-light;
    border-radius: 20px;
    margin: 10px 0;
    -webkit-appearance: none;
    vertical-align: middle !important;

    &:focus {
      border: 1px solid $border-blue;
      outline: none;
    }
  }

  .icon-search {
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    top: 50%;
    margin-top: -13px;
    right: 15px;
    color: $text-gray;
  }
}

.results-panel {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  right: -66px;
  top: 100%;
  padding: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  .matching-post {
    border-bottom: 1px solid #ddd;
    h2 {
      font-size: 17px;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
      @include lines(2);
    }
  }

  .search-keyword {
    font-style: normal;
    color: $text-blue;
  }

}

.algolia-autocomplete {
  line-height: normal;
}
.aa-dropdown-menu {
  width: 100%;
  border-color: #999;
  font-size: 0.9rem;
  left: auto !important;
  right: 0px !important;
  top: 40px !important;
}
@media (min-width: 768px) {
  .aa-dropdown-menu {
    min-width: 515px;
  }
}
.algolia-docsearch-suggestion {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--content {
  color: #2c3e50;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header {
  background: $bg-blue;
}
.algolia-docsearch-footer {
  border-color: #ddd;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background: rgba(255,255,255,0.6);
}
.algolia-docsearch-suggestion--highlight {
  color: $text-blue;
}
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #2c3e50;
}