@import "../variable.scss";

.summary {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 15px;

  ul, li , ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    &.current {
      border: none;
      color: $text-blue;
    }
    &:hover {
      color: $text-blue;
    }
  }

  h3.chapter-title {
    font-size: 1.2em;
  }

  ul.chapter {
    margin-left: 15px;
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
  }

}

.doc-summary {
   & > li {
    margin-bottom: 20px;
  }
}

.lang-en .summary h3.chapter-title{
  font-weight: 600;
}

.sponsor {
  margin-top: 20px;
}
.sponsor-poster {
  display: block;
  width: 180px;
}
.sponsor-title {
  color: #7f8c8d;
  font-size:12px;
}
