.weex-neighbor-item {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
