<div class="wrapper article-wrapper post-layout">
  <div>
  版本 
    <select name="" id="">
    <option value="1">1.x</option>
    <option value="2">2.x</option>
    </select>
  </div>
  <%- partial('_partial/article', {post: page, index: false}) %>
</div>