.weex-doc-header{
    height: 70px;
    width: 100%;
}
.book .book-summary , .book .book-body{
    top: 70px;
}

.book .book-search , a[aria-label="Search"] , a[aria-label="Share"] ,  i.fa-facebook , i.fa-twitter{
    display: none  !important;
}


.top-bar, .top-bar ul{
    background-color: #e6e6e6;
}

.top-bar {
    padding: .5rem;
}

.top-bar:after {
    clear: both;
}
.top-bar:after, .top-bar:before {
    content: ' ';
    display: table;
}
*, :after, :before {
    box-sizing: inherit;
}

.top-bar-title {
    float: left;
    margin-right: 1rem;
}

.top-bar-left {
    float: left;
}

.top-bar-right {
    float: right;
}

.menu {
    margin: 0;
    list-style-type: none;
}

.menu>li {
    display: table-cell;    
    vertical-align: middle;    
}

.top-bar-left , .top-bar-right{
    margin-top: 17px;
}

.menu>li>a {
    display: block;
    padding: 0 1rem;
    line-height: 1;
    color: #2199e8;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    
}
